/* Layout */
@import './layout/layout.css';

/* Estilos Inicio */
@import './views/principle.css';

/* Estilos Perfil */
@import './views/perfil.css';

/* Estilos Proyectos */
@import './views/projects.css';

/* Estilos Formacion */
@import './views/education.css';

/* Media Query */
@media screen and (max-width: 991px) {
	@media screen and (min-width: 760px) {
        .textPerfil{ max-width: 90%; }
        .perfil{ padding-top: 0; padding-bottom: 5%; }
		.cube{
            margin-left: 40%;
            width: 150px;
            height: 150px;
            margin-bottom: 15%;
            margin-top: 10%;
        }
        .cube div span img { width:  100px; height: 100px; }
        .cube div span { transform: rotateY(calc(90deg * var(--i))) translateZ(75px); }
        .top{ transform: rotateX(90deg) translateZ(75px); }
        .top::before{ width: 150px; height: 150px; transform: translateZ(-180px); }
	}
}

@media screen and (max-width: 760px) {
	@media screen and (min-width: 430px) {
        .textPerfil{ max-width: 90%; }
        .perfil{ padding-top: 0; padding-bottom: 10%; }
		.cube{
            margin-left: 35%;
            width: 150px;
            height: 150px;
            margin-bottom: 15%;
            margin-top: 15%;
        }
        .cube div span img { width: 100px; height: 100px; }
        .cube div span { transform: rotateY(calc(90deg * var(--i))) translateZ(75px); }
        .top{ transform: rotateX(90deg) translateZ(75px); }
        .top::before{ width: 150px; height: 150px; transform: translateZ(-180px); }
	}
}

@media screen and (max-width: 430px){
    #index { margin-top: 3%; width: 90%; margin-left: 5%; margin-bottom: 0; }
    .textPerfil{ max-width: 80%; }
    .btn-primary{ padding-top: 8px; }
    #index h1, #index p, #index h4{ text-shadow: 2px 1.2px #000; }
	.cube{
        margin-left: 27%;
        width: 150px;
        height: 150px;
        margin-bottom: 5%;
        margin-top: 5%;
    }
    .cube div span img { width:  100px; height: 100px; }
    .cube div span { transform: rotateY(calc(90deg * var(--i))) translateZ(75px); }
    .top{ transform: rotateX(90deg) translateZ(75px); }
    .top::before{ width: 150px; height: 150px; transform: translateZ(-180px); }
    #perfil .btn-primary { padding-top: 8px; }
    .card img{ width: 150px; height: 100px; }
    #perfil::before{ clip-path: circle(35.2% at 100% -19.5%); }
    #proyectos::before{ clip-path: circle(55% at 30% 50%); }
    #formacion::before{ background: radial-gradient( #13678A, #9AEBA3 ); clip-path: circle(45% at 110% 50%); }
    #formacion h4 {text-shadow: 2px 1px #000; font-size: 18px;}
    #logoReact{ width: 100px; }
}