/*
    Paleta de Colores

    #012030
    #13678A
    #45C4B0
    #9AEBA3
    #DAFDBA

*/
/* Estilos Generales e importaciones */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 5px;
}

html { min-height: 100%; }

body {
    background: linear-gradient(to left, #13678A , #012030 , #000 );
    color: aliceblue;
    font-size: 1.1rem;
    font-family: sans-serif;
    letter-spacing: 2px;
    text-align: center;
    padding-top: 3%;
}

body::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#13678A,#9AEBA3);
    clip-path: circle(35% at right 80%);
    z-index: -1;
}

body::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#DAFDBA,#45C4B0);
    clip-path: circle(20% at 10% 10%);
    z-index: -1;
}

h1, h2, h3 { z-index: 1; text-transform: uppercase; font-weight: bold; }

hr{ width: 60%; margin-left: 20%; }

p { z-index: 1; }

.btn-primary {
    background: linear-gradient(#DAFDBA,#13678A);
    border: none;
    letter-spacing: 1px;
    color: #000;
    text-shadow: none;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 40px;
    transition: all .5s ease-in-out;
    padding-top: 3%;
}

/* Estilos Inicio */
#index { margin-top: 5%; margin-bottom: 3%; }

.logoImg img{
    width: 100%;
    height: auto;
    max-width: 250px;
    border-radius: 50%;
    border: 8px solid #13678A;
    filter: grayscale(.6);
    transition: all .5s ease-in-out;
    margin-bottom: 20px;
    z-index: 1;
}

.logoImg img:hover{ filter: grayscale(.1); }

/* Estilos Perfil */
#perfil h2, #perfil p { text-shadow: 2px 1px #000; }

#perfil .btn-primary {
    padding-top: 1.5%;
}

#perfil::before{
    content: '';
    position: absolute;
    top: 50;
    left: 0;
    width: 100%;
    height: 100%;
    background: #9AEBA3;
    clip-path: circle(35.2% at 100% -20%);
    z-index: -1;
}

.sideOne{ --i:0; }

.sideTwo{ --i:1; }

.sideThre{ --i:2; }

.sideFour{ --i:3; }

.cube{
    position: relative;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    animation: animate 20s linear infinite;
    margin-top: 25%;
}

.cube div{
    position: absolute;
    top:  0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}

.cube div span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#DAFDBA,rgba(0,204,21,.9),rgba(0,204,21,.2));
    transform: rotateY(calc(90deg * var(--i))) translateZ(100px);
}

.cube div span img {
    width: 150px;
    height: 150px;
    position: absolute;
    top: 30px;
    left: 25px;
    filter: saturate(3);
}

.top{
    position: absolute;
    top: 0;
    left: 0;
    background: #DAFDBA;
    transform: rotateX(90deg) translateZ(100px);
}

.top::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    background: #DAFDBA;
    transform: translateZ(-260px);
    filter: blur(30px);
    box-shadow: 0 0 60px rgba(0,204,21,.1),
                0 0 180px rgba(0,204,21,.3),
                0 0 220px rgba(0,204,21,.6),
                0 0 260px rgba(0,204,21,.9);
}

.textPerfil p { text-align: left; letter-spacing: 1px; margin-top: 15px;}

/* Estilos Proyectos */
#proyectos {
    padding-top: 3.5%;
    text-shadow: 2px 1.3px #45C4B0;
}

#proyectos h1,h2,h3{ text-shadow: none; }

#proyectos::before{
    content: '';
    position: absolute;
    top: 90;
    left: 0;
    width: 100%;
    height: 100%;
    background: #DAFDBA;
    clip-path: circle(20% at 100% 95%);
    z-index: -1;
}

#proyectos::before{
    content: '';
    position: absolute;
    top: 150;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#13678A,#9AEBA3);
    clip-path: circle(30% at 10% 50%);
    z-index: -1;
}

.card{
    background: #DAFDBA; 
    padding: 2%;
    border: none;
    border-radius: 20px;
    box-shadow: 1px 1px 25px 1px #000;
    transition: all .5s ease-in-out;
    color: #012030;
}

.card:hover{
    background: #45C4B0 ;
}

.card img{
    height: 220px;
    filter: saturate(2);
    margin-bottom: 20px;
    width: 230px;
}

.card p{
    color: #000;
    text-shadow: none;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 18px;
}

.card .btn-primary, a{
    font-size: small;
    text-shadow: none;
    height: 40px;
    padding-top: 5px;
}

.card .btn-primary img {
    width: 30px;
    height: 30px;
    border: none;
}

/* Estilos Formacion */
#formacion{ padding-bottom: 0; }

#formacion::before{
    content: '';
    position: absolute;
    top: 10;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#DAFDBA,#45C4B0);
    clip-path: circle(20% at 100% 50%);
    z-index: -1;
}

#logoCampus{
    width: 100%;
    height: auto;
    max-width: 650px;
}

#logoReact{
    width: 280px;
    margin-bottom: 5px;
    animation: rotate infinite 30s linear;
}

.imgSocial img{
    width: 70px;
}



/* Animaciones */

@keyframes animate {
    0% {
        transform: rotateX(-30deg) rotateY(0deg);
    }
    100% {
        transform: rotateX(-30deg) rotateY(360deg);
    }
}

@keyframes rotate {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

/* Media Query */

@media screen and (max-width: 991px) {
	@media screen and (min-width: 760px) {
        .textPerfil{ max-width: 90%; }
        .perfil{ padding-top: 0; padding-bottom: 5%; }
		.cube{
            margin-left: 40%;
            width: 150px;
            height: 150px;
            margin-bottom: 15%;
            margin-top: 10%;
        }
        .cube div span img {
            width:  100px;
            height: 100px;
        }
        .cube div span {
            transform: rotateY(calc(90deg * var(--i))) translateZ(75px);
        }
        .top{
            transform: rotateX(90deg) translateZ(75px);
        }
        .top::before{
            width: 150px;
            height: 150px;
            transform: translateZ(-180px);
        }
	}
}

@media screen and (max-width: 760px) {
	@media screen and (min-width: 430px) {
        .textPerfil{ max-width: 90%; }
        .perfil{ padding-top: 0; padding-bottom: 10%; }
		.cube{
            margin-left: 35%;
            width: 150px;
            height: 150px;
            margin-bottom: 15%;
            margin-top: 15%;
        }
        .cube div span img {
            width:  100px;
            height: 100px;
        }
        .cube div span {
            transform: rotateY(calc(90deg * var(--i))) translateZ(75px);
        }
        .top{
            transform: rotateX(90deg) translateZ(75px);
        }
        .top::before{
            width: 150px;
            height: 150px;
            transform: translateZ(-180px);
        }
	}
}
@media screen and (max-width: 430px){
    .textPerfil{ max-width: 85%; }
    .perfil{ padding-top: 8%; padding-bottom: 15%; }
	.cube{
        margin-left: 27%;
        width: 150px;
        height: 150px;
        margin-bottom: 30%;
        margin-top: 10%;
    }
    .cube div span img {
        width:  100px;
        height: 100px;
    }
    .cube div span {
        transform: rotateY(calc(90deg * var(--i))) translateZ(75px);
    }
    .top{
        transform: rotateX(90deg) translateZ(75px);
    }
    .top::before{
        width: 150px;
        height: 150px;
        transform: translateZ(-180px);
    }
    .card img{
        width: 150px;
        height: 100px;
    }
}

